* body .container .news .width80 .content .event-title {
  font-size: 28px;
  font-weight: 500;
}

/* * body .container .footer .left span {
  font-size: 18px;
  font-weight: 400;
}

* body .container .nav .right .logo .name .zh-name span {
  font-size: 16px;
  font-weight: 500;
}

* body .container .nav .left ul li, * body .container .news .width80 .content .event-content span, * body .container .footer .right ul {
  font-size: 16px;
  font-weight: 400;
} */

* body .container .news .width80 .content .news .news-title {
  font-size: 14px;
  font-weight: 500;
}

* body .container .news .width80 .breadcrumb, * body .container .news .width80 .content .time {
  font-size: 14px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  font-family: 'Noto Sans TC',sans-serif;
}

* body .container {
  width: 100%;
}

/* * body .container .nav {
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
          box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}

* body .container .nav .right {
  padding-left: 63px;
}

@media (max-width: 1024px) {
  * body .container .nav .right {
    padding-left: 16px;
  }
}

* body .container .nav .right .logo {
  height: 48;
}

* body .container .nav .right .logo img {
  width: 48px;
  height: 48px;
}

* body .container .nav .right .logo .name {
  padding-left: 12px;
  height: 44px;
}

* body .container .nav .right .logo .name .en-name span {
  color: #c1c4ca;
}

* body .container .nav .burger {
  fill: black;
}

* body .container .nav .burger svg {
  width: 20px;
  height: 24px;
}

* body .container .nav .left ul {
  height: 30px;
}

* body .container .nav .left ul li:not(:last-child) {
  padding-right: 25px;
}

* body .container .nav .left ul li:last-child {
  padding: 0 67px 0 5px;
} */

* body .container .news {
  width: 100%;
}

* body .container .news .width80 {
  width: 80%;
  margin: auto;
}

@media (max-width: 1024px) {
  * body .container .news .width80 {
    width: 90%;
  }
}

* body .container .news .width80 .breadcrumb {
  margin-top: 104px;
  margin-bottom: 56px;
}

@media (max-width: 586px) {
  * body .container .news .width80 .breadcrumb {
    margin-top: 16px;
    width: 100%;
  }
}

* body .container .news .width80 .breadcrumb ul li {
  color: #141414;
}

* body .container .news .width80 .breadcrumb ul li svg {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

* body .container .news .width80 .breadcrumb ul li:not(:last-child) {
  margin-right: 4px;
}

* body .container .news .width80 .breadcrumb ul li a {
  color: #3B54F3;
}

* body .container .news .width80 .breadcrumb ul li:last-child {
  opacity: 0.5;
}

* body .container .news .width80 .content .news .news-title {
  color: #3B54F3;
}

* body .container .news .width80 .content .event-title {
  margin-bottom: 16px;
}

* body .container .news .width80 .content .time {
  margin-bottom: 8px;
}

* body .container .news .width80 .content .time button {
  width: 52px;
  height: 25px;
  background: #EAEDEF;
  border-radius: 4px;
  border: 1px solid #C1C4CA;
  margin-right: 16px;
}

* body .container .news .width80 .content .event-content {
  margin-bottom: 120px;
}

* body .container .news .width80 .content .event-content span {
  color: #141414;
  opacity: 0.75;
  line-height: 28px;
}

/* * body .container .footer {
  height: 525px;
  background-color: #3B54F3;
  padding-top: 120px;
}

@media (max-width: 873px) {
  * body .container .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 32px;
    padding-left: 16px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

* body .container .footer .left {
  padding-left: 142px;
}

@media (max-width: 873px) {
  * body .container .footer .left {
    width: 100%;
    padding-left: 0;
    padding-bottom: 40px;
  }
}

* body .container .footer .left span {
  color: white;
  opacity: 0.5;
}

* body .container .footer .right {
  padding-right: 215px;
  height: 204px;
}

@media (max-width: 873px) {
  * body .container .footer .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 296px;
  }
}

* body .container .footer .right .page {
  margin-right: 42px;
  width: 162px;
}

@media (max-width: 873px) {
  * body .container .footer .right .page {
    padding-bottom: 24px;
  }
}

* body .container .footer .right .link {
  padding-left: 42px;
  width: 117px;
  border-left: 1px solid rgba(193, 196, 202, 0.5);
}

@media (max-width: 873px) {
  * body .container .footer .right .link {
    padding-top: 24px;
    border-top: 1px solid rgba(193, 196, 202, 0.5);
    border-left: none;
    padding-left: 0;
    width: 162px;
  }
}

* body .container .footer .right ul li:not(:last-child) {
  padding-bottom: 16px;
}

* body .container .footer .right ul li svg {
  width: 20px;
  height: 24px;
  fill: white;
}

* body .container .footer .copyright {
  padding-right: 141px;
}

@media (max-width: 873px) {
  * body .container .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 209px;
    padding-top: 36px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 0;
  }
  * body .container .footer .copyright span {
    font-size: 12px;
    font-weight: 400;
  }
} */
/*# sourceMappingURL=event.css.map */
