* body .container .past-presidents .content .content-title {
    font-size: 28px;
    font-weight: 500;
  }
/* navbar 開始 */
  /* * body .container .footer .left span {
    font-size: 18px;
    font-weight: 400;
  }

  * body .container .nav .right .logo .name .zh-name span {
    font-size: 16px;
    font-weight: 500;
  }

  * body .container .footer .right ul, * body .container .nav .left ul li {
    font-size: 16px;
    font-weight: 400;
  } */
  /* navbar 結束 */

  * body .container .past-presidents .breadcrumb {
    font-size: 14px;
    font-weight: 400;
  }

  * body .container .past-presidents .content table tbody tr .year, * body .container .past-presidents .content table thead tr {
    font-size: 16px;
    font-weight: 400;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  * body {
    font-family: "Noto Sans TC", sans-serif;
  }
  * body .container {
    width: 100%;
  }
/* navbar 開始 */
  /* * body .container .nav {
    width: 1440px;
    height: 80px;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  }
  * body .container .nav .right {
    padding-left: 63px;
  }
  @media (max-width: 1024px) {
    * body .container .nav .right {
      padding-left: 16px;
    }
  }
  * body .container .nav .right .logo {
    height: 48;
  }
  * body .container .nav .right .logo img {
    width: 48px;
    height: 48px;
  }
  * body .container .nav .right .logo .name {
    padding-left: 12px;
    height: 44px;
  }
  * body .container .nav .right .logo .name .en-name span {
    color: #c1c4ca;
  }
  * body .container .nav .burger {
    fill: black;
  }
  * body .container .nav .burger svg {
    width: 20px;
    height: 24px;
  }
  * body .container .nav .left ul {
    height: 30px;
  }
  * body .container .nav .left ul li:not(:last-child) {
    padding-right: 25px;
  }
  * body .container .nav .left ul li:last-child {
    padding: 0 67px 0 5px;
  } */

  /* navbar 結束 */
  * body .container .past-presidents {
    padding-bottom: 120px;
    width: 80%;
  }
  @media (max-width: 1024px) {
    * body .container .past-presidents {
      width: 95%;
    }
  }
  @media (max-width: 586px) {
    * body .container .past-presidents {
      padding-bottom: 80px;
      display: flex;
      align-items: center;
    }
  }
  /* * body .container .past-presidents .breadcrumb {
    margin-top: 24px;
  } */
  @media (max-width: 586px) {
    * body .container .past-presidents .breadcrumb {
      margin-top: 16px;
      width: 100%;
      padding-left: 16px;
    }
  }
  * body .container .past-presidents .breadcrumb ul li svg {
    width: 20px;
    height: 20px;
    opacity: 0.5;
  }
  * body .container .past-presidents .breadcrumb ul li:not(:last-child) {
    margin-right: 4px;
  }
  * body .container .past-presidents .breadcrumb ul li a {
    color: #3B54F3;
  }
  * body .container .past-presidents .breadcrumb ul li:last-child {
    opacity: 0.5;
  }
  * body .container .past-presidents .breadcrumb .inpage {
    color: #141414;
    opacity: 0.6;
  }
  * body .container .past-presidents .content {
    padding-top: 56px;
  }
  @media (max-width: 586px) {
    * body .container .past-presidents .content {
      width: 100%;
      padding: 56px 16px;
    }
  }
  * body .container .past-presidents .content .content-title {
    width: 140px;
    height: 50px;
    margin-bottom: 24px;
  }
  * body .container .past-presidents .content .content-title .color-line {
    width: 100%;
  }
  * body .container .past-presidents .content .content-title .color-line .blue1 {
    width: 25px;
    height: 4px;
    background-color: #3B54F3;
  }
  * body .container .past-presidents .content .content-title .color-line .blue2 {
    width: 25px;
    height: 4px;
    background-color: #6EEDF0;
    border-radius: 0 25px 25px 0;
  }
  * body .container .past-presidents .content table {
    padding-top: 32px;
  }
  * body .container .past-presidents .content table thead {
    width: 1132px;
    background-color: #F3F6F9;
  }
  * body .container .past-presidents .content table thead tr {
    color: #141414;
    opacity: 0.6;
  }
  * body .container .past-presidents .content table thead tr td {
    padding: 12px 16px;
  }
  * body .container .past-presidents .content table tbody tr {
    border-bottom: 1px solid #E5E7EB;
  }
  * body .container .past-presidents .content table tbody tr td {
    padding: 16px;
  }
  * body .container .past-presidents .content table tbody tr .year {
    color: #141414;
    opacity: 0.6;
  }

  /* footer 開始 */

  /* * body .container .footer {
    height: 525px;
    background-color: #3B54F3;
    padding-top: 120px;
  }
  @media (max-width: 873px) {
    * body .container .footer {
      display: flex;
      flex-direction: column;
      padding-top: 32px;
      padding-left: 16px;
      justify-content: flex-start;
    }
  }
  * body .container .footer .left {
    padding-left: 142px;
  }
  @media (max-width: 873px) {
    * body .container .footer .left {
      width: 100%;
      padding-left: 0;
      padding-bottom: 40px;
    }
  }
  * body .container .footer .left span {
    color: white;
    opacity: 0.5;
  }
  * body .container .footer .right {
    padding-right: 215px;
    height: 204px;
  }
  @media (max-width: 873px) {
    * body .container .footer .right {
      display: flex;
      flex-direction: column;
      height: 296px;
    }
  }
  * body .container .footer .right .page {
    margin-right: 42px;
    width: 162px;
  }
  @media (max-width: 873px) {
    * body .container .footer .right .page {
      padding-bottom: 24px;
    }
  }
  * body .container .footer .right .link {
    padding-left: 42px;
    width: 117px;
    border-left: 1px solid rgba(193, 196, 202, 0.5);
  }
  @media (max-width: 873px) {
    * body .container .footer .right .link {
      padding-top: 24px;
      border-top: 1px solid rgba(193, 196, 202, 0.5);
      border-left: none;
      padding-left: 0;
      width: 162px;
    }
  }
  * body .container .footer .right ul li:not(:last-child) {
    padding-bottom: 16px;
  }
  * body .container .footer .right ul li svg {
    width: 20px;
    height: 24px;
    fill: white;
  }
  * body .container .footer .copyright {
    padding-right: 141px;
  }
  @media (max-width: 873px) {
    * body .container .footer .copyright {
      display: flex;
      justify-content: end;
      width: 209px;
      padding-top: 36px;
      flex-wrap: wrap;
      padding-right: 0;
    }
    * body .container .footer .copyright span {
      font-size: 12px;
      font-weight: 400;
    }
  } */
  /* footer 結束 */
  /*# sourceMappingURL=Past-presidents.css.map */
