main .container .title .h3m {
  font-size: 18px;
  font-weight: 500;
}

main .container .content-class .table thead th, main .container .content-class .table-ts .td-t, main .container .content-class .account .ts, main .container .content-form .ts {
  font-size: 14px;
  font-weight: 400;
}

main .container .content-class .table tbody td, main .container .content-class .table-ts .td-c, main .container .content-form .innerbox-btn .btn {
  font-size: 16px;
  font-weight: 400;
}

main .container .content-class .table tfoot td, main .container .content-class .table-ts tfoot td {
  font-size: 12px;
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans TC',sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: #F9FAFB;
}

main {
  padding: 80px 0px;
  position: relative;
}

@media (max-width: 640px) {
  main {
    padding: 24px 16px;
  }
}

@-webkit-keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
            transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
            transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
            transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

@keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
            transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
            transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
            transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

main .underWaveWrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40%;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #3B54F3), color-stop(80%, #6a7cec));
  background-image: linear-gradient(to top, #3B54F3 20%, #6a7cec 80%);
}

main .waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 80%;
  top: 0;
  margin: auto;
  height: 100%;
}

main .waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
}

main .bgTop {
  z-index: 15;
  opacity: 0.5;
}

main .bgMiddle {
  z-index: 10;
  opacity: 0.75;
}

main .bgBottom {
  z-index: 5;
}

main .wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

main .waveTop {
  background-image: url("/img/banner/img_sea-01.png");
  background-size: 50% 90px;
}

main .waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

main .waveMiddle {
  background-image: url("/img/banner/img_sea-02.png");
  background-size: 50% 120px;
}

main .waveAnimation .waveMiddle {
  -webkit-animation: move_wave 10s linear infinite;
          animation: move_wave 10s linear infinite;
}

main .waveBottom {
  background-image: url("/img/banner/img_sea-03.png");
  background-size: 50% 100px;
}

main .waveAnimation .waveBottom {
  -webkit-animation: move_wave 15s linear infinite;
          animation: move_wave 15s linear infinite;
}

main .progress {
  width: 256px;
  height: 32px;
  margin-bottom: 40px;
  z-index: 50;
  margin-top: 80px;
}

@media (max-width: 640px) {
  main .progress {
    margin-bottom: 24px;
  }
}

main .progress .c {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid rgba(20, 20, 20, 0.5);
}

main .progress .c .dot {
  width: 10px;
  height: 10px;
  background-color: #3B54F3;
  border-radius: 50%;
}

main .progress .line {
  width: 80px;
  height: 2px;
  background-color: #D1D5DB;
}

main .progress .c1 {
  border: 2px solid #3B54F3;
}

main .container {
  width: 630px;
  height: 1260px;
  z-index: 50;
  padding: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
}

@media (max-width: 640px) {
  main .container {
    width: 500px;
    height: 1265px;
    padding: 16px;
  }
}

@media (max-width: 550px) {
  main .container {
    width: 288px;
  }
}

main .container .title {
  height: 40px;
  border-bottom: 1px solid #E5E7EB;
  margin-bottom: 24px;
}

main .container .title .h3m {
  font-weight: 500;
}

main .container .content-class {
  height: 356px;
  margin-bottom: 40px;
}

@media (max-width: 640px) {
  main .container .content-class {
    height: 400px;
  }
}

main .container .content-class .table {
  height: 128px;
  margin-bottom: 24px;
}

@media (max-width: 640px) {
  main .container .content-class .table {
    display: none;
  }
}

main .container .content-class .table thead {
  height: 48px;
  background-color: #F3F6F9;
  margin-bottom: 24px;
}

main .container .content-class .table thead th {
  color: #141414;
  opacity: 0.6;
  padding: 11.5px 16px;
}

main .container .content-class .table tbody td {
  color: #141414;
  padding: 16px;
}

main .container .content-class .table tbody .price {
  color: #3B54F3;
  font-weight: 500;
}

main .container .content-class .table .t-name {
  width: 325px;
}

main .container .content-class .table .t-type {
  width: 112px;
}

main .container .content-class .table .t-price {
  width: 113px;
}

main .container .content-class .table tfoot td {
  color: #C1C4CA;
}

main .container .content-class .table-ts {
  display: none;
  height: 196px;
  margin-bottom: 24px;
}

@media (max-width: 640px) {
  main .container .content-class .table-ts {
    display: block;
  }
}

main .container .content-class .table-ts .td-t {
  width: 88px;
  height: 56px;
  background-color: #F3F6F9;
  padding: 18px 16px;
  color: #141414;
  opacity: 0.6;
}

main .container .content-class .table-ts .td-c {
  width: 388px;
  height: 56px;
  color: #141414;
  padding: 16px;
}

main .container .content-class .table-ts .t-price {
    color: #3B54F3 ;
    font-weight: 500;
  }

@media (max-width: 550px) {
    main .container .content-class .table-ts .td-c {
      width: 168px;
    }
  }

main .container .content-class .table-ts tfoot td {
  color: #C1C4CA;
}

main .container .content-class .account {
  height: 140px;
  padding: 16px;
  background-color: #F9FAFB;
  border-radius: 8px;
}

@media (max-width: 640px) {
  main .container .content-class .account {
    height: 120px;
  }
}

main .container .content-class .account .ts {
  color: #141414;
  line-height: 25px;
}

@media (max-width: 640px) {
  main .container .content-class .account .ts {
    line-height: 20px;
  }
}

main .container .content-class .account .tsg {
  opacity: 0.6;
  margin-bottom: 8px;
}

main .container .content-form {
  height: 784px;
}

@media (max-width: 640px) {
  main .container .content-form {
    height: 772px;
  }
}

main .container .content-form .ts {
  color: #141414;
  line-height: 25px;
}

main .container .content-form .star {
  color: #3B54F3;
  margin-bottom: 4px;
}

main .container .content-form .input-text {
  height: 46px;
  padding: 9px 13px;
  background-color: #FFFFFF;
  border: 1px solid #C1C4CA;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #141414;
}

@media (max-width: 640px) {
  main .container .content-form .input-text {
    height: 42px;
  }
}

main .container .content-form .input-text:focus {
  border: 2px solid #3B54F3;
}

main .container .content-form .innerbox-name, main .container .content-form .innerbox-id, main .container .content-form .innerbox-phone, main .container .content-form .innerbox-mail {
  height: 75px;
}

main .container .content-form .innerbox-name, main .container .content-form .innerbox-phone {
  margin-bottom: 32px;
}

main .container .content-form .innerbox-id, main .container .content-form .innerbox-sex, main .container .content-form .innerbox-mail {
  margin-bottom: 24px;
}

main .container .content-form .innerbox-sex {
  height: 57px;
}

main .container .content-form .innerbox-sex input {
  margin-right: 12px;
}

main .container .content-form .innerbox-sex .label-male {
  margin-right: 24px;
}

main .container .content-form .innerbox-address {
  height: 155px;
  margin-bottom: 40px;
}

@media (max-width: 640px) {
  main .container .content-form .innerbox-address {
    height: 199px;
  }
}

main .container .content-form .innerbox-address .address {
  margin-bottom: 16px;
}

main .container .content-form .innerbox-address .address #address .selector-c .select {
  width: 50%;
  height: 46px;
}

main .container .content-form .innerbox-address .address #address .selector-c .select select {
  padding: 9px 13px;
  background: #FFFFFF;
  border: 1px solid #C1C4CA;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  color: #141414;
  /* opacity: 0.6; */
}

main .container .content-form .innerbox-address .address #address .selector-c .select select:focus {
  border: 2px solid #3B54F3 !important;
}

@media (max-width: 640px) {
  main .container .content-form .innerbox-address .address #address .selector-c .select {
    width: 100%;
    height: 42px;
  }
  main .container .content-form .innerbox-address .address #address .selector-c .select:first-child {
    margin-bottom: 16px;
  }
}



main .container .content-form .innerbox-address .address #address .selector-c .select .color-change {
  color: #141414;
  opacity: 1;
}

main .container .content-form .innerbox-address .address #address .selector-c .select .color-change1 {
  color: #141414;
  opacity: 1;
}

main .container .content-form .innerbox-address .address #address .selector-c .select .input-red1 {
  border: 2px solid #FC3434 !important;
  opacity: 1 !important;
}

main .container .content-form .innerbox-address .address #address .selector-c .select .input-red2 {
  border: 2px solid #FC3434 !important;
  opacity: 1 !important;
}

main .container .content-form .innerbox-address .address #address .selector-c .select .color-change {
  opacity: 1 !important;
  border: 1px solid #C1C4CA !important;
}

main .container .content-form .innerbox-address .address #address .selector-c .select .color-change1 {
  opacity: 1 !important;
  border: 1px solid #C1C4CA !important;
}

main .container .content-form .innerbox-address .address #address .selector-c #select-county {
    margin-right: 16px;
  }

  @media (max-width: 640px) {
    main .container .content-form .innerbox-address .address #address .selector-c #select-county {
      margin-bottom: 16px;
    }
  }

main .container .content-form .innerbox-address .address #address .span-none {
  display: none !important;
}

main .container .content-form .ts-red {
  color: #FC3434;
}

main .container .content-form .input-red {
  border: 2px solid #FC3434 !important;
  opacity: 1 !important;
}

main .container .content-form .innerbox-btn .btn {
  height: 50px;
  padding: 25px 13px;
}

main .container .content-form .innerbox-btn .btn-cancel {
  width: 82px;
  color: #141414;
  border: 1px solid #C1C4CA;
}

main .container .content-form .innerbox-btn .btn-cancel:hover {
  background-color: #C1C4CA;
}

main .container .content-form .innerbox-btn .btn-next {
  width: 98px;
  color: #FFFFFF;
  background-color: #3B54F3;
}

main .container .content-form .innerbox-btn .btn-next:hover {
  background-color: #233394;
}
/*# sourceMappingURL=signUpStep1.css.map */
