* body .container .Surf-Rescue .content .content-left .Surf-Rescue-title, * body .container .Surf-Rescue .qualifying .qualifying-left .Surf-Rescue-title {
  font-size: 28px;
  font-weight: 500;
}

* body .container .Surf-Rescue .content .content-right .right-box .sport-bg .sport .icon-text .sport-event {
  font-size: 18px;
  font-weight: 500;
}
/* footer 開始 */
/* * body .container .Surf-Rescue .qualifying .qualifying-right .top .content .content-right .detail, * body .container .Surf-Rescue .qualifying .qualifying-right .bottom span, * body .container .footer .left span {
  font-size: 18px;
  font-weight: 400;
} */

/* navbar 開始 */
/* * body .container .nav .right .logo .name .zh-name span {
  font-size: 16px;
  font-weight: 500;
}

* body .container .nav .left ul li, * body .container .Surf-Rescue .content .content-left .Surf-Rescue-content, * body .container .Surf-Rescue .content .content-right .right-box .sport-bg .sport .icon-text .sport-hint, * body .container .footer .right ul {
  font-size: 16px;
  font-weight: 400;
} */
/* navbar 結束 */
* body .container .Surf-Rescue .breadcrumb {
  font-size: 14px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  font-family: 'Noto Sans TC',sans-serif;
}

* body .container {
  width: 100%;
}
/* navbar 開始 */
/* * body .container .nav {
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
          box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}

* body .container .nav .right {
  padding-left: 63px;
}

@media (max-width: 1024px) {
  * body .container .nav .right {
    padding-left: 16px;
  }
}

* body .container .nav .right .logo {
  height: 48;
}

* body .container .nav .right .logo img {
  width: 48px;
  height: 48px;
}

* body .container .nav .right .logo .name {
  padding-left: 12px;
  height: 44px;
}

* body .container .nav .right .logo .name .en-name span {
  color: #c1c4ca;
}

* body .container .nav .burger {
  fill: black;
}

* body .container .nav .burger svg {
  width: 20px;
  height: 24px;
}

* body .container .nav .left ul {
  height: 30px;
}

* body .container .nav .left ul li:not(:last-child) {
  padding-right: 25px;
}

* body .container .nav .left ul li:last-child {
  padding: 0 67px 0 5px;
} */
/* navbar 結束 */

* body .container .Surf-Rescue {
  width: 80%;
}

/* @media (max-width: 1024px) {
  * body .container .Surf-Rescue {
    width: 95%;
  }
} */

@media (max-width: 586px) {
  * body .container .Surf-Rescue {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

* body .container .Surf-Rescue .breadcrumb {
  margin-top: 24px;
  margin-bottom: 56px;
}

@media (max-width: 586px) {
  * body .container .Surf-Rescue .breadcrumb {
    margin-top: 16px;
    width: 100%;
  }
}

* body .container .Surf-Rescue .breadcrumb ul li svg {
  width: 20px;
  height: 20px;
  opacity: .5;
}

* body .container .Surf-Rescue .breadcrumb ul li:not(:last-child) {
  margin-right: 4px;
}

* body .container .Surf-Rescue .breadcrumb ul li a {
  color: #3B54F3;
}

* body .container .Surf-Rescue .breadcrumb ul li:last-child {
  opacity: .5;
}

* body .container .Surf-Rescue .breadcrumb .inpage {
  color: #141414;
  opacity: 0.6;
}

@media (max-width: 586px) {
  * body .container .Surf-Rescue .content {
    width: 100%;
  }
}

/* @media (max-width: 1004px) {
  * body .container .Surf-Rescue .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
} */

/* @media (max-width: 1004px) {
  * body .container .Surf-Rescue .content .content-left {
    width: 100%;
    margin-bottom: 24px;
  }
} */

* body .container .Surf-Rescue .content .content-left .Surf-Rescue-title {
  height: 50px;
  margin-bottom: 32px;
}

* body .container .Surf-Rescue .content .content-left .Surf-Rescue-title .color-line {
  width: 100%;
}

* body .container .Surf-Rescue .content .content-left .Surf-Rescue-title .color-line .blue1 {
  width: 25px;
  height: 4px;
  background-color: #3B54F3;
}

* body .container .Surf-Rescue .content .content-left .Surf-Rescue-title .color-line .blue2 {
  width: 25px;
  height: 4px;
  background-color: #6EEDF0;
  border-radius: 0 25px 25px 0;
}

* body .container .Surf-Rescue .content .content-left .Surf-Rescue-content {
  color: #141414;
  opacity: 0.75;
  line-height: 28px;
  text-align: justify;
}

/* @media (max-width: 1004px) {
  * body .container .Surf-Rescue .content .content-right {
    width: 100%;
  }
} */

/* @media (max-width: 1004px) {
  * body .container .Surf-Rescue .content .content-right .right-box {
    padding-left: 0;
  }
} */

* body .container .Surf-Rescue .content .content-right .right-box .sport-bg {
  width: 198px;
  height: 184px;
  background-color: #F3F6F9;
  border-radius: 16px;
}

/* @media (max-width: 1004px) {
  * body .container .Surf-Rescue .content .content-right .right-box .sport-bg {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: 24px;
  }
} */

* body .container .Surf-Rescue .content .content-right .right-box .sport-bg .sport {
  width: 150px;
  height: 136px;
}

* body .container .Surf-Rescue .content .content-right .right-box .sport-bg .sport .icon {
  width: 44px;
  height: 44px;
  background: #3B54F3;
  border-radius: 8px;
}

* body .container .Surf-Rescue .content .content-right .right-box .sport-bg .sport .icon svg {
  width: 24px;
  height: 24px;
  text-align: center;
  fill: white;
}

* body .container .Surf-Rescue .content .content-right .right-box .sport-bg .sport .icon-text {
  height: 60px;
}

* body .container .Surf-Rescue .content .content-right .right-box .sport-bg .sport .icon-text .sport-event {
  color: #141414;
}

* body .container .Surf-Rescue .content .content-right .right-box .sport-bg .sport .icon-text .sport-hint {
  color: #141414;
  opacity: 0.5;
}

* body .container .Surf-Rescue .qualifying {
  margin-bottom: 120px;
}

@media (max-width: 665px) {
  * body .container .Surf-Rescue .qualifying {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 80px;
  }
}

* body .container .Surf-Rescue .qualifying .qualifying-left {
    width: 52%;
  }

  @media (max-width: 1650px) {
    * body .container .Surf-Rescue .qualifying .qualifying-left {
      width: 50%;
    }
  }

@media (max-width: 665px) {
  * body .container .Surf-Rescue .qualifying .qualifying-left {
    width: 100%;
  }
}

* body .container .Surf-Rescue .qualifying .qualifying-left .Surf-Rescue-title {
  height: 50px;
  margin-bottom: 32px;
}

* body .container .Surf-Rescue .qualifying .qualifying-left .Surf-Rescue-title .color-line {
  width: 100%;
}

* body .container .Surf-Rescue .qualifying .qualifying-left .Surf-Rescue-title .color-line .blue1 {
  width: 25px;
  height: 4px;
  background-color: #3B54F3;
}

* body .container .Surf-Rescue .qualifying .qualifying-left .Surf-Rescue-title .color-line .blue2 {
  width: 25px;
  height: 4px;
  background-color: #6EEDF0;
  border-radius: 0 25px 25px 0;
}

/* @media (max-width: 1004px) {
  * body .container .Surf-Rescue .qualifying .qualifying-right {
    width: 100%;
  }
} */

* body .container .Surf-Rescue .qualifying .qualifying-right .top {
  margin-bottom: 69px;
}

* body .container .Surf-Rescue .qualifying .qualifying-right .top .content .content-right {
  margin-bottom: 10px;
}

* body .container .Surf-Rescue .qualifying .qualifying-right .top .content .content-right .check-box {
  width: 24px;
  height: 24px;
  background-color: #3B54F3;
  border-radius: 50%;
  margin-right: 16px;
}

* body .container .Surf-Rescue .qualifying .qualifying-right .top .content .content-right .check-box svg {
  width: 24px;
  height: 24px;
  fill: white;
}

* body .container .Surf-Rescue .qualifying .qualifying-right .top .content .content-right .detail {
  color: #141414;
  opacity: 0.75;
}

@media (max-width: 1004px) {
  * body .container .Surf-Rescue .qualifying .qualifying-right .bottom {
    padding: 0;
  }
}

* body .container .Surf-Rescue .qualifying .qualifying-right .bottom span {
  color: #141414;
  opacity: 0.75;
}

@media (max-width:1180px) {
    * body .container .Surf-Rescue .content {
        flex-direction: column;
    }
}

@media (max-width:764px) {
    * body .container .Surf-Rescue .content {
        margin-bottom: 0;
    }
}

@media (max-width:1180px) {
    * body .container .Surf-Rescue .content .content-right .right-box{
        width: 100%;
    }
}

@media (max-width:1180px) {
    * body .container .Surf-Rescue .content .content-right .right-box .top{
        justify-content: space-between;
    }
}

@media (max-width:1180px) {
    * body .container .Surf-Rescue .content .content-right .right-box .bottom{
        justify-content: space-between;
    }
}

* body .container .Surf-Rescue .content .content-left{
    margin-right: 5%;
}

@media (max-width:1180px) {
    * body .container .Surf-Rescue .content .content-left{
        margin: 0 0 24px 0;
        padding: 0;
    }
}

@media (max-width:665px) {
    * body .container .Surf-Rescue .content .content-right .right-box .top .sport-bg{
        width: 100%;
    }
}

@media (max-width:665px) {
    * body .container .Surf-Rescue .content .content-right .right-box .top .sport-bg:not(:last-child){
        margin-bottom: 24px;
    }
}

@media (max-width:665px) {
    * body .container .Surf-Rescue .content .content-right .right-box .bottom .sport-bg:not(:last-child){
        margin-bottom: 24px;
    }
}

/* @media (max-width:1180px) {
    * body .container .Surf-Rescue .content .content-right .right-box .top .sport-bg{
        width: 100%;
    }
} */

@media (max-width:665px) {
    * body .container .Surf-Rescue .content .content-right .right-box .top {
        flex-direction: column;
    }
}

@media (max-width:665px) {
    * body .container .Surf-Rescue .content .content-right .right-box .bottom {
        flex-direction: column;
    }
}

@media (max-width:665px) {
    * body .container .Surf-Rescue .content .content-right .right-box .bottom .sport-bg{
        width: 100%;
    }
}

/* footer 開始 */
/* * body .container .footer {
  height: 525px;
  background-color: #3B54F3;
  padding-top: 120px;
}

@media (max-width: 873px) {
  * body .container .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 32px;
    padding-left: 16px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

* body .container .footer .left {
  padding-left: 142px;
}

@media (max-width: 873px) {
  * body .container .footer .left {
    width: 100%;
    padding-left: 0;
    padding-bottom: 40px;
  }
}

* body .container .footer .left span {
  color: white;
  opacity: 0.5;
}

* body .container .footer .right {
  padding-right: 215px;
  height: 204px;
}

@media (max-width: 873px) {
  * body .container .footer .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 296px;
  }
}

* body .container .footer .right .page {
  margin-right: 42px;
  width: 162px;
}

@media (max-width: 873px) {
  * body .container .footer .right .page {
    padding-bottom: 24px;
  }
}

* body .container .footer .right .link {
  padding-left: 42px;
  width: 117px;
  border-left: 1px solid rgba(193, 196, 202, 0.5);
}

@media (max-width: 873px) {
  * body .container .footer .right .link {
    padding-top: 24px;
    border-top: 1px solid rgba(193, 196, 202, 0.5);
    border-left: none;
    padding-left: 0;
    width: 162px;
  }
}

* body .container .footer .right ul li:not(:last-child) {
  padding-bottom: 16px;
}

* body .container .footer .right ul li svg {
  width: 20px;
  height: 24px;
  fill: white;
}

* body .container .footer .copyright {
  padding-right: 141px;
}

@media (max-width: 873px) {
  * body .container .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 209px;
    padding-top: 36px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 0;
  }
  * body .container .footer .copyright span {
    font-size: 12px;
    font-weight: 400;
  }
} */
/* footer 結束 */
/*# sourceMappingURL=Surf-Rescue.css.map */
